html,
body {
  background-color: $color-bg;
  height: 100%;
  letter-spacing: 0.25px;
  font-family: "Raleway", sans-serif;
  font-size: $unidad-contexto + px;
  color: $color-bl;
  -webkit-font-smoothing: antialiased;
}

a {
  color: $color-bl;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    outline: 0 solid;
  }
}
img {
  height: auto;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
  font-weight: $bold;
  color: $color-bl;
}

#preloader {
  z-index: 999999;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $color-az-md;
}

#status {
  margin: -100px 0 0 -100px;
  background-image: url("../../media/img/oval.svg");
  background-position: center;
  background-repeat: no-repeat;
  @include size(200px, 200px);
  @include absolute($l: 50%, $t: 50%);
}

#about,
#resume,
#hobbies,
#skills {
  padding-top: 100px;
  @include tablet {
    padding-top: 75px;
  }
}

.section__title {
  margin-bottom: 80px;
}

.parallax {
  background-image: url("../../media/img/parallax-typed.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 500px;
}

.scroll-bottom {
  border: 2px solid $color-az-md;
  margin-left: -20px;
  line-height: 80px;
  text-align: center;
  @include absolute($l: 50%, $b: 15px);
  @include size(40px, 70px);
  @include border-radius(30px);
  .icon {
    vertical-align: top;
    font-size: 30px;
    color: $color-az-md;
    &:before {
      margin: 0;
    }
  }
  @include mobile {
    bottom: px(5rem);
  }
}

//$$ Welcome section

.welcome {
  height: 100%;
  .welcome__wrap {
    z-index: 1;
    position: relative;
    background-image: url("https://toni-css.github.io/antoniosaiz.com/media/img/static2.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    &:after {
      z-index: -1;
      content: "";
      background: $color-ng;
      @include size(100%, 100%);
      @include absolute($l: 0, $t: 0);
      @include opacity(0.8);
    }
    .single-slide-item {
      height: 100%;
    }
  }
  .welcome__content {
    text-align: center;
    @include mobile {
      margin-bottom: px(4rem);
    }
    .welcome__content_title--01 {
      margin: 20px 0;
      word-spacing: 10px;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: $bold;
      color: $color-az-md;
      @include font-size(6.666rem);
      @include tablet {
        @include font-size(4.1666rem);
      }
    }
    .welcome__content_title--03 {
      margin: 0;
      text-transform: capitalize;
      font-weight: $bold;
      color: $color-bl;
      @include font-size(4.5rem);
      @include tablet {
        @include font-size(3rem);
      }
    }
    .welcome__content__text {
      margin: 0;
      color: $color-gr-cl;
      span {
        margin: 0 8px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 14px;
        font-weight: 300;
      }
    }
    @include ie {
      margin-top: 25%;
    }
  }
}

//$$ About section

.about {
  .author__picture {
    img {
      display: block;
      border: 5px solid;
      margin-right: auto !important;
      margin-left: auto !important;
      @include size(70%, auto);
      @include border-radius(50%);
    }
  }
  .author__description {
    .subtitle {
      margin: 0;
      word-spacing: 2px;
      text-transform: none;
      font-weight: $normal;
      @include font-size(2rem);
      span {
        display: block;
        margin-bottom: px(0.5rem);
        strong {
          font-weight: $bold;
        }
      }
    }
  }
  .author__info {
    text-align: center;
    .author__info__headline {
      margin: 20px 0;
      @include title-lines;
      @include font-size(2rem);
    }
    .author__info__data {
      margin: 0;
      padding-left: 0;
      list-style: none;
      li {
        margin: 0;
        padding-bottom: 10px;
        font-size: 14px;
        color: $color-gr-md-2;
        &:hover {
          .author__info__label {
            color: $color-bl;
          }
          .link {
            color: $color-az-md;
          }
        }
        span {
          display: block;
          color: $color-bl;
          @include transition(color, 0.3s, ease-out);
          &.author__info__label {
            padding-bottom: px(0.5rem);
            text-transform: uppercase;
            font-weight: $bold;
            color: $color-az-cl;
            @include font-size(1.5rem);
            .icon {
              margin-right: px(0.5rem);
              vertical-align: top;
              @include font-size(1.5rem);
              @include border-radius(0.5rem);
              &:hover {
                color: $color-bl;
              }
            }
          }
        }
      }
    }
    @include tablet {
      margin-bottom: px(3.5rem);
    }
  }
}

//$$ Skills section

.skills {
  .skills__progress {
    text-align: center;
    @include tablet {
      padding-right: px(2rem);
    }
  }
}

//$$ Resume section

.resume {
  .resume__timeline {
    position: relative;
    padding-top: px(6rem);
    padding-left: px(6rem);
    .resume__title {
      @include font-size(2rem);
      @include absolute($t: px(1rem));
    }
    .icon {
      border: 3px solid $color-bl;
      background: $color-bg;
      padding: 10px;
      color: $color-gr-cl-2;
      @include font-size(4rem);
      @include absolute($t: 0, $l: -4px);
      @include border-radius(4rem);
    }
    &:before {
      content: "";
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-gr-cl-2', endColorstr='$color-bl',GradientType=0 ); /* IE6-9 */
      background: $color-gr-cl-2; /* Old browsers */
      background: linear-gradient(
        to bottom,
        $color-gr-cl-2 1%,
        $color-gr-cl-2 75%,
        $color-bg 100%
      ); /* W3C */
      @include absolute($t: 0, $b: 0, $l: 18px);
      @include size(3px, 100%);
    }
    &.education {
      padding-right: px(5rem);
      padding-left: 0;
      .icon {
        top: 0;
        left: auto;
        right: 0;
        padding: 9px 0;
        @include size(px(4rem), px(4rem));
      }
      .resume__title {
        right: 76px;
      }
      &:before {
        left: auto;
        right: 23px;
      }
      .resume__list {
        padding-top: px(4rem);
        text-align: right;
        @include tablet {
          padding-top: 0;
        }
        .resume__list__item {
          .name {
            padding-right: px(1.5rem);
            &:hover {
              padding-right: px(3rem);
              @include tablet {
                padding-right: px(1.5rem);
              }
            }
            &:before {
              left: auto;
              right: -44px;
            }
          }
          .description {
            padding-right: px(1.5rem);
          }
        }
      }
    }
    @include tablet {
      padding-bottom: px(3rem);
    }
  }
  .resume__list {
    padding: 0;
    list-style: none;
    .resume__list__item {
      position: relative;
      margin-bottom: px(3rem);
      .name {
        position: relative;
        display: block;
        margin-bottom: px(0.75rem);
        cursor: pointer;
        @include font-size(1.25rem);
        @include transition(all, 0.3s, ease-in-out);
        &:hover {
          padding-left: px(1.5rem);
          color: $color-gr-cl-2;
          @include tablet {
            padding-left: 0;
          }
        }
        &:before {
          content: "";
          border: 3px solid $color-gr-cl-2;
          background: $color-az-md;
          @include size(px(1.333rem), px(1.333rem));
          @include absolute($l: -60px);
          @include border-radius(px(4rem));
        }
        .dates {
          display: block;
          padding-top: px(0.75rem);
          font-style: italic;
          font-weight: $normal;
          @include font-size(1rem);
          .icon-calendar {
            display: inline-block;
            margin-right: px(0.5rem);
            color: $color-az-cl;
          }
          .current {
            background-color: $color-az-md;
            padding: 2px 8px;
            @include border-radius(4px);
          }
        }
      }
      .dates {
        font-style: italic;
        .icon-calendar {
          display: inline-block;
          margin-right: px(0.5rem);
        }
        .current {
          background-color: $color-az-md;
          padding: 2px 8px;
          @include border-radius(4px);
        }
      }
      .description {
        margin: 8px 0;
        max-height: 0;
        overflow: hidden;
        font-size: 14px;
        line-height: px(1.5rem);
        @include transition(max-height, 0.35s);
        p {
          label {
            font-weight: $bold;
            color: $color-az-cl;
          }
        }
      }
      input {
        z-index: -1;
        position: absolute;
        @include opacity(0);
        &:checked ~ .description {
          max-height: 14rem;
        }
      }
    }
  }
}

//$$ Hobbies section

.hobbies {
  overflow-x: hidden;
  &.container {
    max-width: 100%;
    width: 100%;
    padding: 0;
  }
  .hobby-box__container {
    text-align: center;
    &:hover {
      .hobby-box {
        margin: 0 10px;
        background: $color-bl;
        color: $color-az-md;
        box-shadow: 0 0 20px 0 $color-az-md;
        .icon {
          @include font-size(9rem);
          @include desktop-small {
            @include font-size(7.5rem);
          }
        }
        .subtitle {
          color: $color-az-md;
        }
      }
      @include tablet {
        @include transition(all, 0.3s, ease-in-out);
        &:hover {
          background-color: $color-bl;
          .hobby-box {
            margin: 0 auto;
            background-color: transparent;
            box-shadow: none;
          }
        }
      }
    }
    @include tablet-portrait {
      margin-bottom: px(2rem);
      &:last-child {
        margin-bottom: 0;
      }
    }
    .hobby-box {
      margin: 0 auto;
      height: 210px;
      max-width: 240px;
      padding: px(1.666rem) px(2rem);
      text-align: center;
      @include transition(all, 0.3s, ease-in-out);
      .subtitle {
        color: $color-bl;
      }
      .icon {
        padding-top: px(2rem);
        @include font-size(8rem);
        @include transition(all, 0.3s, ease-in-out);
        &.icon-atm {
          padding-right: px(0.5rem);
          &:before {
            margin: 0;
          }
        }
        &.icon-pug {
          &:before {
            margin: 0;
          }
        }
        @include desktop-small {
          @include font-size(7rem);
        }
      }
      @include desktop-small {
        height: 150px;
        padding: 0;
      }
      @include tablet {
        margin: 0 auto;
        &:hover {
          margin: 0 auto;
        }
      }
    }
  }
}
