// paleta de color
// *******************************************

// $$ colores basicos

$color-ng:    #000;
$color-bl:    #fff;

// $$ azules
$color-az-os:#005B9A;
$color-az-md: #0091e4;
$color-az-cl: #74C2E1;

// $$ rojos

$color-rj: #e63726;

// $$ grises

$color-gr-cl: #f7f7f7;
$color-gr-cl-2: #f5f5f5;
$color-gr-md: #777777;
$color-gr-md-2: #515a5f;
$color-gr-md-3: #8C8984;
$color-gr-os: #444444;

// $$ background

$color-bg: #202020;

// $$ nav

$color-nav: rgba(32, 32, 32, 0.9);



